.Project {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #acbdd6;
  box-shadow: 0 0 5px 10px #acbdd6;
  .three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5d3fd3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
  }

  .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
  }

  .three-body__dot:after {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
  }

  .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
  }

  .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
  }

  .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
  }

  .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
      ease-in-out;
  }

  .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
  }

  .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
  }

  @keyframes spin78236 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes wobble1 {
    0%,
    100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }

    50% {
      transform: translateY(-66%) scale(0.65);
      opacity: 0.8;
    }
  }

  @keyframes wobble2 {
    0%,
    100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }

    50% {
      transform: translateY(66%) scale(0.65);
      opacity: 0.8;
    }
  }

  .main {
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(229, 228, 252);
    background: linear-gradient(
      38deg,
      rgba(229, 228, 252, 1),
      rgb(255 255 255) 51%
    );
    padding-block: 40px;
    border-radius: 10px;
    margin-bottom: 40px;

    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .container {
    width: 100%;

    background: rgb(229, 228, 252);
    background: linear-gradient(
      38deg,
      rgba(229, 228, 252, 1),
      rgb(255 255 255) 51%
    );
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-inline: 50px;
    padding-block: 20px;
    border-radius: 10px;
  }
  @media screen and (max-width: 767px) {
    .main {
      width: 100%;
    }
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}
