.Eduacation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
    background: #acbdd6;
      box-shadow: 0 0 5px 10px #acbdd6;

  .container {
    width: 93%;
    background: rgb(229, 228, 252);
      background: linear-gradient(38deg,
          rgba(229, 228, 252, 1),
          rgb(255 255 255) 51%);
    border-radius: 15px;
   
    padding-top: 10px;
    padding-bottom: 60px;

    .heading {
      padding: 30px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;

      h2 {
        font-weight: bold;
      }
    }

    .box {
      display: flex;
      justify-content: space-around;
    }

    @media only screen and (max-width: 767px) {
      .box {
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .container {
      width: 100%;
    }
  }
}
