.ProjectCard {
 
 
  .card {
    width: 350px;
    height: 380px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .image{
      width: 100%;
      height: 100%;
     
      background-size: contain;

      img{
        width: 100%;
      }
    }
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding-inline: 20px;
    padding-block: 20px;
    
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    transition: 0.7s;

    .btn-box{
      display: flex;
      justify-content: space-around;

      .card-btn {
          padding: 10px 15px;
          width: 125px;
          border-radius: 5px;
          text-transform: capitalize;
          border: none;
          outline: none;
          font-weight: 500;
          cursor: pointer;
          background-color: var(--primary-color);
            color: white;
        }

  

    }
  }

  .card:hover .card-body {
    right: 0;
  }

  .card-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    
  }

  .card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
  }

  .card-info {
    font-size: 16px;
    line-height: 20px;

    margin: 20px 0;
    font-weight: 400;
    padding-block: 10px;
  }

 
  @media screen and (max-width: 767px) {
    .card {
      width: 300px;
      height: 350px;
    }
    .card-body {
      width: 100%; 
      padding-right: 10px;
      padding-block: 10px;
    
    
    }
        .card-title {
          text-transform: uppercase;
          font-size: 40px;
          font-weight: 500;
    
        }

  }
}
