.Skills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    background: #acbdd6;
      box-shadow: 0 0 5px 10px #acbdd6;

  .container {
    width: 93%;
    background: white;
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .skill-box {
    display: flex;
    gap: 50px;
  }
  .container h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .container .skill {
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
    position: relative;
  }

  .container .skill h3 {
    display: inline-block;
    margin-bottom: 5px;
  }

  .container .skill h4 {
    float: right;
  }

  .container .skill .skill-bar {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 17px;
    border-radius: 15px;
    background: #48cae4;
  }

  .container .skill .fill-bar {
    position: absolute;
    top: 30px;
    left: 0;
    height: 17px;
    border-radius: 15px;
    background: #0077b6;
  }

  .container .skill .css {
    animation: css 2s;
    width: 85%;
  }

  .container .skill .javascript {
    animation: javascript 2s;
    width: 70%;
  }

  .container .skill .php {
    animation: php 2s;
    width: 85%;
  }

  .container .skill .react {
    animation: react 2s;
    width: 65%;
  }

  @keyframes html {
    from {
      width: 0;
    }
    to {
      width: 95%;
    }
  }

  @keyframes css {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  }

  @keyframes javascript {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  }

  @keyframes php {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  }

  @keyframes react {
    from {
      width: 0;
    }
    to {
      width: 65%;
    }
  }

  @media only screen and (max-width: 767px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
    .skill-box {
      display: flex;
      flex-direction: column;
    }

    .container h1 {
      margin-bottom: 25px;
    }
  }
}
