.container {
  width: 90%;
}
.developer-skills {
  height: 60px;
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 500;
 
}

.HeroBanner {
  width: 100%;
  background-image: url("/src/header.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secodary-color);
  font-size: 1.2rem;
}
.navbar {
  min-width: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 24px;
  padding-block: 15px;
  margin-top: 10px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;

}



.nav-branding {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secodary-color);
}
.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: dodgerblue;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--secodary-color);
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    backdrop-filter: blur(20px);
    /* background-color: var(--secodary-color); */
    width: 100%;
    text-align: center;
    transition: 0.6s;
    gap: 20px;
  }
  .nav-hover {
    margin: 16px 0;
   
  }
  

  .nav-hover a {
    color: white;
    font-weight: bold;
  }
  .nav-menu.active {
    left: 0;
  }
}

.head {
  font-size: 4rem;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.headBanner p {
  font-size: 1.5rem;
  letter-spacing: 0.4ch;
}

.headBanner {
  width: 50%;
  height: 50%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 130px;
  
}
.myName {
  color: #3b5998;
}
.btn {
  color: var(--secodary-color);
}
