@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary-color: #3b5998;
  --secodary-color: #f5f5f7;
}

code {
  font-family: Noto Sans, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.flex {
  display: flex;
}
/* 
.container {
  width: 80%;
} */

.circle {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
.bold{
  font-weight: bold;
}