.AboutMe {
  padding-block: 15px;
  width: 100%;
  background: #acbdd6;
  box-shadow: 0 0 5px 10px #acbdd6;
 
  .container {
    max-width: 90%;

    margin: auto;

    h2{
      font-weight:bold;
    }

  }

  .bio-data {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .flexItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .flex-row {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .cards{
    width: 100%;
  
  }
  .card {
    background: rgb(229, 228, 252);
    background: linear-gradient(
      38deg,
      rgba(229, 228, 252, 1),
      rgb(255 255 255) 51%
    );
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding-inline: 30px;
    padding-block: 30px;

  }
  .col-left {

    height: 300px;
  }
  .desc{
    line-height: 1.5;
    font-size: 1.1rem;
    
  }
  .color{
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .card-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .card-bg-img img {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    animation: scaleAnim 10s ease-in-out infinite;
  }
  @keyframes scaleAnim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  .card-bg-img {
    filter: blur(50px);
  }
  .flex-row > div {
    min-width: 180px;
  }
  .profile-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
   
  }
   .profile-img{
  
    img {
       display: block;
       width: 100%;
       object-fit:cover;
     }
  }

  @media screen and (max-width: 1060px) and (min-width: 900px) {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
     
  }

  @media screen and (max-width: 899px) and (min-width: 768px) {
    .flex-row > div {
      min-width: 150px;
    }
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    
    
    
  }
  @media screen and (max-width: 767px) and (min-width: 521px) {
    .grid-row {
      display: block;
    }
 
  }
  @media screen and (max-width: 520px) and (min-width: 200px) {
    .grid-row,
    .flex-row {
      display: block;
    }
    .card-bg-img img {
      max-width: unset;
    }
    .card-info-inner {
      display: block;
      margin-top: 10px;
    }


  
  
  }
}
