.AboutMe {
  padding-block: 15px;
  width: 100vw;
  background: #d9eaff;

  .container {
    max-width: 90%;

    margin: auto;
  }

  .bio-data {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .flexItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .flex-row {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .card {
    padding: 10px;
    background: rgb(229, 228, 252);
    background: linear-gradient(
      38deg,
      rgba(229, 228, 252, 1),
      rgb(255 255 255) 51%
    );
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
  }
  .col-left {
    height: 300px;
  }

  .card-image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .card-bg-img img {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    animation: scaleAnim 10s ease-in-out infinite;
  }
  @keyframes scaleAnim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  .card-bg-img {
    filter: blur(50px);
  }
  .flex-row > div {
    min-width: 180px;
  }
  .profile-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .profile-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media screen and (max-width: 1060px) and (min-width: 900px) {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 899px) and (min-width: 768px) {
    .flex-row > div {
      min-width: 150px;
    }
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 767px) and (min-width: 521px) {
    .grid-row {
      display: block;
    }
  }
  @media screen and (max-width: 520px) and (min-width: 200px) {
    .grid-row,
    .flex-row {
      display: block;
    }
    .card-bg-img img {
      max-width: unset;
    }
    .card-info-inner {
      display: block;
      margin-top: 10px;
    }
  }
}
